@font-face {
   font-family: "Bebas Neue";
   src: local("Bebas Neue Regular Regular"), local("BebasNeueRegular"),
      url("../fonts/BebasNeueCyrillic.woff2") format("woff2"), url("../fonts/BebasNeueCyrillic.woff") format("woff");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

* {
   margin: 0;
   padding: 0;
   /*отключаем все внешние и внутренние отступы*/
   box-sizing: border-box;
}

body {
   font-family: "Roboto", sans-serif;
}

.header {
   background-color: #635854;
   padding-top: 12px;
   padding-bottom: 12px;
   border-bottom: 4px solid #3596f5;
}

.navbar {
   max-width: 1280px;
   margin: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.navbar_menu {
   list-style-type: none;
   display: flex;
   justify-content: space-between;
   text-align: center;
}

.navbar_item {
   margin-right: 40px;
   margin-left: 40px;
}

.navbar_link {
   text-decoration: none;
   color: #fff;
}

.navbar_contacts {
   text-align: right;
}

.navbar_text {
   display: block;
   /*делаем строчный элемент блочным*/
   font-size: 14px;
   color: #fff;
   margin-bottom: 4px;
}

.navbar_phone {
   text-decoration: none;
   font-size: 17px;
   font-weight: bold;
   line-height: 20px;
   color: #fff;
}

.main {
   max-width: 1280px;
   margin: auto;
   margin-top: 54px;
   display: flex;
}

.home_img path {
   opacity: 0;
   cursor: pointer;
}

.home_img path:hover {
   opacity: 1;
}

.main_info {
   flex-grow: 1;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}

.main_title {
   margin: 0;
   font-family: "Bebas Neue Cyrillic", sans-serif;
   font-weight: 300;
   font-size: 37px;
   line-height: 44px;
   color: #635854;
   text-transform: uppercase;
}

.counter_group {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.counter_button {
   background-color: #fff;
   border: none;
   cursor: pointer;
}

.counter {
   color: #635854;
   font-size: 124px;
   font-family: "Bebas Neue Cyrillic", sans-serif;
   margin-top: 10px;
}

.counter_down {
   transform: rotateX(180deg);
}

.button_primary {
   background: #3596f5;
   color: #fff;
   font-family: "Bebas Neue Cyrillic", sans-serif;
   border-radius: 6px;
   border: #3596f5;
   padding: 16px 36px;
   cursor: pointer;
}